.max-size {
    max-width: 400px;
  }
  
  .input-width {
      width: 300px;
    }
  
  .margin-left {
    margin-left: 12px;
  }
  
  .text-color {
    color: red;
  }
  
  a:hover
  a:active {
      color: rosybrown;
      cursor: pointer;
  }
  
  
  .background-image{
  background-image: url(../../../assets/bg-01.jpg);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }
  
  .signup-form-logo{
    font-size: 60px;
    color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: -10px !important;
  }
  
  .signup-firsthalf{
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
  }
  
  .signup-secondhalf{
    height: 100%;
  }
  
  .user-signup-logo{
    font-size: 123px;
      height: auto;
      width: auto;
      color: rebeccapurple;
  }
  .agree-section{
    margin: 15px;
  }
  .agree-text-color{
    color: blue;
  }
  
  .sign-up{
    width: 23rem;
  }
  
  mat-card-title{
    color: #b224ef;
    font-size: 24px !important;
    font-weight: bold !important;
  }
  
  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #b224ef;
  }
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: blue !important; /* Red background for example */
  }
  
  @media only screen and (min-width: 600px) {
    .signup-layout{
      margin: 1rem;
    }
    .signup-secondhalf{
      margin: 0rem !important;
    }
  
  }
  